body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Styles for the navigation menu */
nav ul {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to display items in a row */
    justify-content: center; /* Center the items horizontally */
}

nav ul li {
    margin: 0 15px; /* Add some space between items */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #3498db;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}


/* Styles for sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}


p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 90%; /* Ensure image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    display: block; /* Ensure proper spacing */
    margin: 20px; /* Center the image and add vertical margin */
}

/* Flexbox container for the About section */
.about-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically center */
}

.about-container img {
    max-width: 200px; /* Set a fixed width for the image */
    margin-right: 20px; /* Add some space between image and text */
}

.about-text {
    max-width: auto; /* Set a maximum width for the text container */
}

.airbnb-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.airbnb-container img {
    height: 600px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images cover the set height */
}